.top-section {
    width: 1440px;
    height: 109px;
    flex-shrink: 0;
    background-color: #D9D9D9;
    
  }

  .left {
    width: 87px;
    height: 87px;
    margin-left: 20px;
    margin-top: 10px;

  }

  .option1 {
    width: 689px;
    height: 940px;
    flex-shrink: 0;
    border-radius: 80px;
    background: #F5F5F5;
    margin-left: 375px;
    margin-top: 52px;

  }

  .middle {
    width: 115px;
    height: 116px;
    flex-shrink: 0;
    position: absolute;
    left: 662px;
    top: 222px;

  }

  .option1 .p1{
    position: absolute;
    left: 600px;
    top: 366px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
  }

  .option1 hr{
    position: absolute;
    left: 581px;
    top: 515px;
  }

  .option1 .dep{
  position: absolute;
  left: 487px;
  top: 475px;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

  .option1 .arr{
  position: absolute;
  left: 868px;
  top: 475px;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

  .option1 .flight_no{
  position: absolute;
  left: 680px;
  top: 470px;
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

  .option1 .p2{
    position: absolute;
    left: 453px;
    top: 700px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
  }

  .option1 .ticket_no{
    position: absolute;
    left: 768px;
    top: 700px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .option1 .p3{
    position: absolute;
    left: 453px;
    top: 800px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
  }

  .option1 .seat_no{
    position: absolute;
    left: 768px;
    top: 800px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .option1 .p4{
    position: absolute;
    left: 453px;
    top: 900px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .option1 .time{
    position: absolute;
    left: 768px;
    top: 900px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }